[project]
name = "ingestion"
version = "0.1.0"
requires-python = ">=3.11"
dependencies = [
    "requests",
    "beautifulsoup4",
    "lxml",
    "tqdm"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
